.general {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.capitals {
  width: 500px;
}

.capitalsTitle {
  justify-content: flex-start;
}
